# R 3.3 compatibility:
importFrom("grDevices", "rgb", "convertColor")

importFrom("graphics", "axis", "legend", "mtext", "rect", "segments",
             "text", "plot")

importFrom("stats", "aggregate", "complete.cases", "na.omit", "as.formula", "splinefun", "weighted.mean")

importFrom("utils", "URLencode", "download.file", "object.size",
             "read.csv", "read.table", "setTxtProgressBar",
             "txtProgressBar", "write.table")

importFrom(reshape2, 
  dcast,
  melt
)

importFrom(raster, 
  extent
)

importFrom(plyr, 
  ddply,
  llply,
  ldply,
  dlply,
  join,
  summarize
)


importFrom(sp,
  spTransform,
  CRS,
  proj4string,
  "coordinates<-",
  "proj4string<-",
  SpatialPolygonsDataFrame,
  SpatialPointsDataFrame,
  spChFIDs
)


importFrom(curl,
  curl,
  new_handle
)

importFrom(xml2,
  read_html,
  xml_text
)


importFrom(Hmisc, 
  wtd.mean, 
  wtd.var, 
  wtd.quantile, 
  wtd.rank, 
  wtd.table
)

importFrom(aqp, 
  "depths<-", 
  "site<-",
  diagnostic_hz,
  "diagnostic_hz<-",
  test_hz_logic,
  rgb2munsell
)

exportPattern("^[^\\.]")
