importFrom(plyr, 
  ddply,
  llply,
  ldply,
  dlply,
  join
)

importFrom(RCurl,
  getURL,
  curlOptions,
  postForm
)

importFrom(SSOAP,
  SOAPServer,
  .SOAP  
)

importFrom(dismo,
  gmap
)

importFrom(raster,
  extent
)

importFrom(sp,
  spTransform,
  CRS
)

importFrom(rgdal,
  ogrDrivers,
  readOGR,
  ogrListLayers
)

importFrom(XML,
  htmlTreeParse,
  getNodeSet,
  xmlValue
)

importFrom(RODBC, 
  odbcConnectAccess2007,
  odbcConnectAccess,
  odbcDataSources,
  odbcConnect,
  sqlQuery,
  odbcClose
)

importFrom(Hmisc, 
  wtd.mean, 
  wtd.var, 
  wtd.quantile, 
  wtd.rank, 
  wtd.table
)

importFrom(aqp, 
  "depths<-", 
  "site<-",
  diagnostic_hz,
  "diagnostic_hz<-",
  test_hz_logic
)

exportPattern("^[^\\.]")
