# R 3.3 compatibility:
importFrom("grDevices", "rgb")

importFrom("graphics", "plot")

importFrom("stats", "aggregate", "complete.cases", "na.omit")

importFrom("utils", "URLencode", "download.file", "object.size",
             "read.csv", "read.table", "setTxtProgressBar",
             "txtProgressBar", "write.table")

importFrom(reshape, 
  cast
)


importFrom(plyr, 
  ddply,
  llply,
  ldply,
  dlply,
  join
)


importFrom(sp,
  spTransform,
  CRS,
  "coordinates<-",
  "proj4string<-",
  SpatialPolygonsDataFrame
)


importFrom(XML,
  xmlToDataFrame,
  htmlTreeParse,
  getNodeSet,
  xmlValue
)


importFrom(Hmisc, 
  wtd.mean, 
  wtd.var, 
  wtd.quantile, 
  wtd.rank, 
  wtd.table
)

importFrom(aqp, 
  "depths<-", 
  "site<-",
  diagnostic_hz,
  "diagnostic_hz<-",
  test_hz_logic,
  rgb2munsell
)

exportPattern("^[^\\.]")
